@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .nav {
  --#{$prefix}nav-link-padding-x: #{$nav-link-padding-x};
  --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
  @include rfs($nav-link-font-size, --#{$prefix}nav-link-font-size);
  --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
  --#{$prefix}nav-link-color: #{$nav-link-color};
  --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};
}

--#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
--#{$prefix}nav-pills-link-active-color: #{$nav-pills-link-active-color};
--#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg}; */

header {
  background-color: #2D92C5;
  padding: 120px;
  display: flex;
}

header li{
  list-style: none;
  display: flex;
}

header li a{
  color: black;
  margin: 12px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  font-weight: bold;
}

a:visited{
  color: black;
  margin: 12px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  font-weight: bold;
}

header .logo h1{
    font-size: 38px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    
}

body {
  background: rgb(63,96,112);
  background: linear-gradient(90deg, rgba(63,96,112,1) 0%, rgba(61,123,155,1) 100%);
  height: 100vh;
}

.content{
    margin: 15px;
    gap: 25px;
    flex-wrap: wrap;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top{
  height: 300px;
  object-fit: cover;
  width: 100%;
  transition: all ease-in-out .4s;
}

.card-img-top:hover{
  transition: all ease-in-out 0.5;
  transform: scale(1.05);
  box-shadow: 10px 10px 51px -20px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 51px -20px rgba(0,0,0,1);
  box-shadow: 10px 10px 51px -20px rgba(0,0,0,1);
  border-radius: 20px;
}

/* .card{
  overflow: hidden;
} */

h1 ,h2{
  margin-top: 20px;
  text-align: center;
  color: white;
}

footer{
  width: 100%;
  height: 150px;
  background-color: #2D92C5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .izquierda{
  margin-top: 20px;
}

ul li{
  color: white;
}

.nav-item{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}


